dataset
dataset2
.venv
safety-helmet-detection-DatasetNinja
runs/compare
runs
runs/detect/val 
Datasets
violations
.env
archive.zip
yolo26n.pt
yolo11s.pt
Evaluations
Evaluations.zip
PPE_Model_Performance_Report.docx
person.yolov8
person.yolov8.zip
compare
Unecessary
